*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    }
a{
    text-decoration: none;
}

button{
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    max-width: 320px;
    /*padding-left: 15px;
    padding-right: 15px;
    margin-left: auto; 
    margin-right: auto;*/
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    }


/* #region header */
.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-cont {
    display: flex;
    justify-content: space-between;
}
    .nav {
    display: flex;
    align-items: center;

}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: block;
}

.logo-h {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.menu {
    display: none;
    
}

.menu-item {
    position: relative;
}


.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.current {
position: relative;
color: #404bbf;;
}

.menu-link.current::after {
content: '';
position: absolute;
left: 0;
bottom: -1px;
display: block;
width: 100%;
height: 4px ;
border-radius: 2px;
background-color: #404bbf;
}

.menu-link:hover, .menu-link:focus {
    color: #404bbf;
         
    }

.appeal{
    font-style: normal;
}
.adr {
    display: none;
    
}

.adr-comm {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.adr-comm:hover,.adr-comm:focus{
    color: #404bbf;
}

/* #endregion header */

/* #region  hero */

.hero {
    /*min-width: 1440px;*/
    background-color: #2e2f42;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)), 
         url(../images/people-office-1xM.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)), 
         url(../images/people-office-2xM.jpg);
        }
}

.hero-title {
    
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    display: block;
    /*margin: 0 auto 48px auto;*/
    margin: 0 auto 72px auto;
    
}

.button{
    min-width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,.button:focus{
    background-color: #404bbf;
    border-color: #404bbf;

}


/* #endregion hero */

/* #region  advantag*/
.advantag {
    padding-top: 96px;
    padding-bottom: 96px;
    
}

.menu-adv {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    /*gap: 24px;
    justify-content: center;*/
    
}

.adv-list {
    /*width: calc((100% - 24px*3)/4);*/
    
}

.adv-icon {
    display: none;
}

.adv-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    margin-bottom: 8px;
}

.adv-text {
    /*font-weight: 400;*/
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion  advantag*/

/* #region  team*/

.team {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    padding-bottom: 72px;
}

.menu-team {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.team-list {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}

.team-dan {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 8px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 8px;
}

.team-posada {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin: 8px;
}

.social-network {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.sn-link {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
   
}

.svg-icon {
   fill: #F4F4FD;
   
}
  .sn-link:hover, .sn-link:focus {
    background-color: #404bbf;
  }

  
/* #endregion  team*/

/* #region porfolio */
.set {
    padding-top: 96px;
    padding-bottom: 96px;
}
.set .container {
    /*max-width: 1158px;*/
    }

.set-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    padding-bottom: 72px;
}

.menu-set {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.set-list {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.set-list:hover, .set-list:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}
.set-overlay {
    position: relative;
    overflow: hidden;

}

.set-list:hover .overlay-text { /*.set-overlay*/
  transform: translatey(0%);
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

.overlay-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: #4d5ae5;
    padding: 40px 32px;
    text-align: justify;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.set-dan {
    gap: 8px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;

}
.set-product {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.set-opys {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion  porfolio*/

/* #region footer */
.footer {
    min-width: 100%; /*1440px;*/
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}
.footer-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.footer-lt {
    /*margin-right: 120px*/
    
}

.footer-lt .logo {
    text-align: center;
}
.logo-f {
    color: #f4f4fd;
}


.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 288px;
    margin-top: 16px;
    
}
.footer-icon {
    justify-content: center;
}
.sn-footer {
    gap: 16px;
          
}

.sn-link-c:hover, .sn-link-c:focus {
    background-color: #31d0aa; 
}

.footer-media {
    max-width: 208px;
    max-height: 80px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;

}


/*      knopka poshta           */
.footer-form-cont {
   /*margin-left: 80px;*/
}
.footer-form-txt {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
    justify-content: center;
}

.footer-form-input {
    width: 288px;
    height: 40px;
    border: 1px solid #fff;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    outline: none;
    padding-left: 16px;
}

    
.footer-form-input::placeholder {
    color: #ffffff; 
}

.footer-button {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding-left: 24px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-telegr {
    position: absolute;
    top: 10px;
    right: 24px;
    margin-left: 16px;
}

/* #endregion footer */


/*#region modal*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
    
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 288px;
    min-height: 623px;
    /*width: 408px;
    min-height: 584px;*/
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    padding: 72px 16px 24px 16px;  
}

    .backdrop.is-open {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    .backdrop:not(.is-open) .modal {
        transform: translate(-50% -50%) scale(1.5);
}

/*#endregion modal*/

/*#region form*/
.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
     
    border-radius: 50%;
    background-color: #e7e9fc; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

   .modal-text {    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
   } 
    



/* forma*/
    .form-wrapper-cont {
        margin-bottom: 8px;
    }
    .modal-form-label {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;
    }
    .modal-cont-input {
        position: relative;
    }
    .modal-input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        padding-left: 34px;
        outline: transparent;  
        background-color: transparent; 
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    }

    .modal-input:focus {
        border: 1px solid #4d5ae5;
    }


    .modal-icon {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-input:focus+ .modal-icon {
        fill: #4d5ae5;
    }

    .form-wrapper-cont-comment {
        margin-bottom: 16px;
    }

    
    .modal-textarea {
        width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }

        .modal-textarea:focus {
            border: 1px solid #4d5ae5;
        }


    .modal-textarea::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
    }
    
.modal-cont-checkbox {
    margin-bottom: 24px;
}

.custom-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    flex-shrink: 0;
}

.checkbox:checked+.custom-label-user-checkbox>.custom-checkbox {
    background-color: #404bbf;
    fill: #F4F4FD; 
    border: none;
    }

.custom-label-user-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
    display: flex;
}
    
    .checkbox-a {
        line-height: 1.33;
        text-decoration: underline;
        color: #4d5ae5;
    }


    .modal-button {
        min-width: 169px;
        height: 56px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        text-align: center;
        background-color: #4d5ae5;
        border-radius: 4px;
        border: none;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        padding: 16px 32px;
        display: block;
        margin: 0 auto;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
   
    }
    
    .modal-button:hover,.modal-button:focus{
        background-color: #404bbf;
        border-color: none;
        
    
    }
    

/*#endregion form*/


/*#region 768*/
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
}


.burger-btn {
    display: none;
}
.menu {
    display: flex;
    gap: 40px;
    
}


.adr {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 24px;
}

.adr-comm {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding-top: 0;
    padding-bottom: 0;
}

/*.appeal {
    padding-top: 24px;
    padding-bottom: 24px;
}*/
/*Hero*/
.hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)), 
         url(../images/people-office-1xT.jpg);
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)), 
         url(../images/people-office-2xT.jpg);
        }
}

.hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 36px auto;
}



/*Advantages*/
    .menu-adv {
        gap: 72px 24px;
    }
    .adv-list {
        width: calc((100% - 24px)/2);
        
    }
    .adv-title {
        text-align: left;
    }

/*Our Team*/
.team > .container {
    max-width: 560px;
}


.menu-team {
    gap: 64px 24px;
}

.team-list {
    width: calc((100% - 24px)/2);
}

/*Our Portfolio*/

.menu-set {
    gap: 72px 24px;
    
}
.set-list {
    width: calc((100% - 24px)/2);
}
.set-title {
    margin-top: 0;
}
/*footer*/

.footer-cont {
    align-items: baseline;
    margin-left: 92px;
    gap: 72px 24px;
}

.footer-lt .logo {
    text-align: left;
}
.footer-text {
    width: 264px;
}
.footer-icon {
    margin-left: 0;
    margin-right: 0;
}
.footer-media {
    text-align: left;
}
.footer-form-txt {
    text-align: left;
}
.footer-form {
    gap: 24px;
}
.footer-form-input {
    width: 264px;
}

/* ---modal--- */

/*.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
    
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}*/

.modal {
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    
    width: 408px;
    min-height: 584px;
    /*background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    padding: 72px 24px 24px 24px;  
}

    /*.backdrop.is-open {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    .backdrop:not(.is-open) .modal {
        transform: translate(-50% -50%) scale(1.5);
}*/

/*#endregion modal*/

/*#region form*/
/*.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
     
    border-radius: 50%;
    background-color: #e7e9fc; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}*/

   /*.modal-text {    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
   } */
    



/* forma*/
   /* .form-wrapper-cont {
        margin-bottom: 8px;
    }*/
   /* .modal-form-label {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;
    }*/
   /* .modal-cont-input {
        position: relative;
    }*/
    .modal-input {
        /*width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;*/
        padding-left: 38px;
       /* outline: transparent;  
        background-color: transparent; 
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  */
    }

   /* .modal-input:focus {
        border: 1px solid #4d5ae5;
    }*/


    /*.modal-icon {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }*/

   /* .modal-input:focus+ .modal-icon {
        fill: #4d5ae5;
    }*/

    /*.form-wrapper-cont-comment {
        margin-bottom: 16px;
    }*/

    
    /*.modal-textarea {
        width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }

        .modal-textarea:focus {
            border: 1px solid #4d5ae5;
        }


    .modal-textarea::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
    }*/
    
/*.modal-cont-checkbox {
    margin-bottom: 24px;
}*/

/*.custom-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.checkbox:checked+.custom-label-user-checkbox>.custom-checkbox {
    background-color: #404bbf;
    fill: #F4F4FD; 
    border: none;
    }*/
.custom-label-user-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
}
    
    .checkbox-a {
        line-height: 1.33;
        text-decoration: underline;
        color: #4d5ae5;
    }


    /*.modal-button {
        min-width: 169px;
        height: 56px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        text-align: center;
        background-color: #4d5ae5;
        border-radius: 4px;
        border: none;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        padding: 16px 32px;
        display: block;
        margin: 0 auto;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
   
    }
    
    .modal-button:hover,.modal-button:focus{
        background-color: #404bbf;
        border-color: none;
    }*/






}
/*#endregion 768*/

/*#region 1158*/
@media screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto; 
    margin-right: auto;
}
/*header*/
.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu {
    padding-right: 320px;
    padding-left: 76px;
}
.adr {
   display: flex;
   flex-direction: row;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.adr-comm {
    font-size: 16px;
}

/*Hero*/
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)), 
         url(../images/people-office.jpg);
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)), 
         url(../images/people-office-2x.jpg);
        }
}


/*Advantages*/
.advantag {
    padding-top: 120px;
    padding-bottom: 120px;
}

.menu-adv {
    justify-content: center;
}
.adv-list {
    width: calc((100% - 24px*3)/4);
}
.adv-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.adv-text {
    font-weight: 400;
}

.adv-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8e8f99; 
    margin-bottom: 8px;
}

/*Our Team*/
.team {
    padding-top: 120px;
    padding-bottom: 120px;
}

.team > .container {
    max-width: 1128px;
}

.menu-team {
    gap: 24px;
}
.team-list {
    width: calc((100% - 24px*3)/4);
}
/*Our Portfolio*/
.set {
    padding-top: 120px;
    padding-bottom: 120px;
}

.menu-set {
    gap: 48px 24px;
}
.set-list {
    flex-basis: calc((100% - 48px)/3);
}
/*footer*/
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-cont {
    align-items: baseline;
    justify-content: left;
    gap: 0;
    flex-wrap: nowrap;
}

.footer-lt {
    margin-right: 120px
}
.footer-form {
    flex-wrap: nowrap;
}

.footer-form-cont {
    margin-left: 80px;
}
}
/*#endregion 1158*/



/*#region mob-menu*/

.mob-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.mob-menu.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
    
.mob-menu-container {
    position: fixed;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.mob-nav {
    margin-bottom: auto;
}
@media screen and (min-width: 768px) {
    .mob-menu {
        display: none;
    }
    
}


  .mob-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
     
    border-radius: 50%;
    background-color: #e7e9fc; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        
    display: flex;
    align-items: center;
    justify-content: center;}


.mob-close-btn:hover,
.mob-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}

.mob-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.mob-nav {
}

.mob-menu-list {
  margin-bottom: 50px;
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}


.current {
    position: relative;
    color: #404bbf;;
    }
     
    .mob-menu-link:hover, .mob-menu-link:focus {
        color: #404bbf;
    }


    .mob-contact{
        font-style: normal
    }
    .mob-adr {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-bottom: 48px;
    }
    
    .mob-adr-comm {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
    .mob-adr-comm:hover,.mob-adr-comm:focus{
        color: #404bbf;
    }
    @media screen and (max-width: 767px) {
        .social-network {
            gap: 24px;
    }
    }
    
    /*  #endregion mob-menu     */